body{
  margin:0;
  font-family:Arial;
  background:black;
  color:white;
}

/* NAVBAR */
.navbar{
  position:fixed;
  top:0;
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 40px;
  background:rgba(0,0,0,0.6);
  backdrop-filter:blur(10px);
  z-index:10;
}

.navbar a{
  color:white;
  margin-left:25px;
  text-decoration:none;
  font-weight:bold;
}

.logo{
  font-size:22px;
  font-weight:bold;
  color:gold;
}

/* HERO */
.hero{
  margin-top:70px;
  position:relative;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
}

.bg-video{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit:cover;
  z-index:-1;
}

.hero::after{
  content:"";
  position:absolute;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.55);
}

.hero-content{
  position:relative;
  z-index:1;
  text-align:center;
}

button{
  padding:12px 25px;
  background:gold;
  border:none;
  font-size:16px;
  cursor:pointer;
  font-weight:bold;
  transition:0.3s;
}

button:hover{
  background:#ffd700;
  box-shadow:0 0 15px gold;
}

/* PRODUCTS */
.products{
  padding:80px 20px;
  text-align:center;
  background:#111;
}

.product-grid{
  display:flex;
  justify-content:center;
  gap:40px;
  flex-wrap:wrap;
  margin-top:40px;
}

.product,
.card{
  background:#000;
  padding:20px;
  border-radius:12px;
  width:240px;
  transition:0.3s;
}

.product img,
.card img{
  width:100%;
  border-radius:10px;
}

.product:hover,
.card:hover{
  transform:scale(1.05);
  box-shadow:0 0 20px gold;
}

/* FIX GARMA MASALA COLOR */
.product h3,
.card h3{
  color:white;
  text-decoration:none;
}

.product p,
.card p{
  color:#ccc;
}

/* REMOVE LINK UNDERLINE */
a{
  text-decoration:none;
  color:white;
}

/* WHATSAPP FLOAT */
.whatsapp-float{
  position:fixed;
  bottom:20px;
  right:20px;
  background:#25D366;
  color:white;
  font-size:30px;
  padding:15px;
  border-radius:50%;
  text-decoration:none;
  box-shadow:0 0 15px #25D366;
}

/* MOBILE */
@media(max-width:768px){
  .product-grid{
    flex-direction:column;
    align-items:center;
  }
}
